LANGFUSE_INIT_ORG_ID=changeme
LANGFUSE_INIT_ORG_NAME=changeme
LANGFUSE_INIT_PROJECT_ID=changeme
LANGFUSE_INIT_PROJECT_NAME=changeme
LANGFUSE_INIT_USER_EMAIL=changeme
LANGFUSE_INIT_USER_NAME=changeme
LANGFUSE_INIT_USER_PASSWORD=changeme

LANGFUSE_POSTGRES_USER=postgres
LANGFUSE_POSTGRES_PASSWORD=changeme
LANGFUSE_POSTGRES_DB=postgres
LANGFUSE_CLICKHOUSE_USER=clickhouse
LANGFUSE_CLICKHOUSE_PASSWORD=changeme
LANGFUSE_MINIO_ROOT_USER=minio
LANGFUSE_MINIO_ROOT_PASSWORD=changeme
LANGFUSE_S3_BUCKET=langfuse
LANGFUSE_REDIS_AUTH=changeme
LANGFUSE_SALT=changeme
LANGFUSE_ENCRYPTION_KEY=changeme
LANGFUSE_NEXTAUTH_SECRET=changeme
